<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration </title>
    <link rel="stylesheet" href="/css/register.css">
   </head>
<body>

  <div class="div1">
    <h2>Registration</h2>
    <form action="#" id="log" class="in">
        <input type="text" id="inputName" class="value" placeholder="Enter your name" >
        <input type="text" id="inputLastName" class="value" placeholder="Enter your lastname" >
        <input type="text"  id="inputemail" class="value" placeholder="Enter your email" >
        <input type="password" id="inputpassaword" class="value" placeholder="Create password" >  
        <button class="btn" id="btn2">Sign up</button>
        <h3>Already have an account? <a target="_blank" href="../log in/">Login now</a></h3>
    </form>
  </div>

</body>
<script src="/js/register.js"></script>
</html>
